body {
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    background-color: #272727;
    border-radius: 16px;
    /* min-width: none; */
}